@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    padding-top: 54px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.section{
    width: 100%;
    padding-top: 50px;
    color: #666666;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.btn_leftArow, .btn_righttArow{
    width: 30px;
    height: 30px;
}
.slideShowContainer{
    width: 540px;
    height: 100%;
    margin-right: 15px;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    overflow: hidden;
}
.slideShow{
    display: none;
    width: 100%;
}
.slideShow img{
    object-fit: cover;
    width: 100%;
}
.previous{
    position: absolute;
    top: 50%;
    left: 20px;
}
.next{
    position: absolute;
    top: 50%;
    right: 20px;
}
.previous img, .next img{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    user-select: none;
}
.dots{
    position: absolute;
    bottom: 15px;
}
.dot{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: rgba(129, 129, 129, 0.874);
}
.fade{
    animation-name: fade;
    animation-duration: 0.8s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
.profile{
    width: 600px;
    height: 100%;
    margin-left: 15px;
}
.attraction{
    font-size: 24px;
}
.category{
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
}
.bookingCard{
    background-color: rgba(232,232,232);
    padding: 18px 18px 17px 24px;
    border-radius: 5px;
    line-height: 40px
}
.details{
    padding-bottom: 20px;
}
.subtitle{
    font-weight: 500;
}
.date{
    width: 193px;
    height: 35px;
    cursor: pointer;
}
.schedule{
    display: flex;
}
.schedule input[type="radio"]{
    accent-color: #448899;
    width: 22px;
    margin-right: 4px;
    cursor: pointer;
}
.schedule label{
    font-weight: 500;
}
.fee{
    display: flex;
    padding-bottom: 10px;
}
.price{
    padding-left: 5px;
    font-weight: 500;
}
.btn{
    width: 154px;
    height: 36px;
    font-size: 19px;
    color: #FFFFFF;
    background-color: #448899;
    border-radius: 5px;
    border-style: hidden;
    vertical-align: middle
}
button:hover{
    background-color: #1c758b;
    cursor: pointer;
}
hr{
    max-width: 1150px;
    border: 1px solid #E8E8E8;
}
article{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: 400;
    line-height: 23px;
    color: #666666;
}
.information{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description, .infos_address, .infos_transport{
    margin: 20px;
}
.infos_address, .infos_transport{
    padding-top: 20px;
}
.list{
    font-weight: 700;
}
.map_container{
	width: 90%;
    height: 400px;
	display: flex;
	justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 10px;
}
.map{
	height: 100%;
    width: 100%;
    align-items: center;
}

@media(max-width : 1200px){
    .section{
        padding-top: 0px;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .slideShowContainer, .slideShow, .slideShow img{
        width: 100%;
        margin-right: 0px;
    }
    .profile{
        padding-left: 0px;
        padding-top: 20px;
        width: 90%;
    }
    .next img{
        right: 0px;
    }
    .dot{
        top: -30px;
        left: 0px
    }
}