.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1000;
    cursor: pointer;
}
.login, .signin{
    display: flex;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}
.signinCard{
    height: 332px;
}
.loginCard{
    height: 275px;
}
.loginCard, .signinCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.loginTop{
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.x{
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
.loginTitle{
    color: #666666;
    font-weight: 700;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    padding-bottom: 10px;
}
.email, .password, .hint, .username{
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.form input{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    width: 100%;
    height: 45px;
}
input::-webkit-input-placeholder{
    color: #757575;
    font-weight: 700;
    font-size: 16px;
}
input{
    padding-left: 10px;
}
.email, .password, .username{
    box-sizing: border-box;
}
.submit{
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    background-color: #448899;
    cursor: pointer;
}
.hint{
    cursor: pointer;
}