<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/attraction.css') }}">
    <script src="{{ url_for('static', filename='/javascript/attraction.js')}}" defer></script>
</head>
<body>
    {% include "components/nav.html" %}
    {% include "components/login.html" %}
    <main>
        <div class="section">
            <div class="slideShowContainer">
                <a class="previous"><img src="/static/images/btn_leftArrow.png"></a>
                <a class="next"><img src="/static/images/btn_rightArrow.png"></a>
            </div>
            <div class="dots"></div>
            <div class="profile">
                <div class="bookingCard">
                    <div class="details">
                        <div class="title">訂購導覽行程</div>
                        <div class="subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div>
                            <span>選擇日期：</span>
                            <input class="date" type="date"/>
                        </div>
                        <div class="schedule">
                            <div>選擇時間：</div>
                            <input type="radio" name="radio" value="morning" class="morning" checked>
                            <label for="morning">上半天</label><br>
                            <input type="radio" name="radio" value="afternoon" class="afternoon">
                            <label for="afternoon">下半天</label><br>
                        </div>
                        <div class="fee">
                            <span>導覽費用：</span>
                            <div class="price">新台幣 2000 元</div>
                        </div>
                        <button class="btn">開始預約行程</button>
                    </div>
                </div>
            </div>
        </div>
    </main><hr>
    <article>
        <div class="information">
            <div class="description"></div>
            <div class="infos_address">
                <span class="list">景點地址：</span><br/>
            </div>
            <div class="infos_transport">
                <span class="list">交通方式：</span><br/>
            </div>
        </div>
    </article>
    {% include "components/footer.html" %}
</body>