<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='app.js')}}" defer></script>
    <title>台北一日遊 Taipe-day-trip</title>
</head>
<body>
    <nav>
        <div class="view">
            <a class="name" href="/"><span>台北一日遊</span></a>
            <div class="items">
                <a class="item" href=""><span class="text">預定行程</span></a>
                <a class="item" href=""><span class="text">登入/註冊</span></a>
            </div>
        </div>
    </nav>
    <header>
        <div class="topImage">
            <img class="topBanner" src="static/welcome.png">
            <div class="sub-section">
                <div class="slogan">
                    <div class="title"><span>輕鬆享受台北一日悠閒</span></div>
                    <div class="subtitle"><span>探索每個角落，體驗城市的深度旅遊行程</span></div>
                </div>
                <div class="search">
                    <input type="text" class="search-bar" id="input" placeholder="輸入景點名稱查詢">
                    <button type="button"><img src="static/icon_search.png"></button>
                    <div class="menu" id="menu">
                        <div class="menu-category"></div>
                </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>     
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>  
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
            <article class="card">
                <div class="spotImage"></div>
                <div class="tag"></div>
                <div class="information"></div>
            </article>
        </div>
    </main>
    <footer>
        <span>COPYRIGHT © 2021 台北一日遊</span>
    </footer>
</body>
</html>