<div class="overlay"></div>
<div class="login">
    <div class="loginCard">
        <div class="loginTop"></div>
        <div class="x closeBtnforlogin"><img src="/static/images/icon_close.png"></div>
        <div class="loginTitle">登入會員帳號</div>
        <form class="form" id="loginForm">
            <input type="email" class="email" id="loginEmail" name="email" placeholder="輸入電子信箱" required>
            <input type="password" class="password" id="loginPassword" name="password" placeholder="輸入密碼" required>
            <input type="submit" class="submit submitForLogin" value="登入帳戶">
        </form>
        <div class="hint changeToSignin">還沒有帳戶？點此註冊</div>
    </div>
</div>
<div class="signin">
    <div class="signinCard">
        <div class="loginTop"></div>
        <div class="x closeBtnforsigin"><img src="/static/images/icon_close.png"></div>
        <div class="loginTitle">註冊會員帳號</div>
        <form class="form" id="signinForm">
            <input type="text" class="username" id="signinUsername" name="username" placeholder="輸入姓名" required>
            <input type="email" class="email" id="signinEmail" name="email" placeholder="輸入電子信箱" required>
            <input type="password" class="password" id="signinPassword" name="password" placeholder="輸入密碼" required>
            <input type="submit" class="submit submitForSignin" value="註冊新帳戶">
        </form>
        <div class="hint changeToLogin">已經有帳戶了？點此登入</div>
    </div>
</div>